.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.collection-item {
  width: 100%;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.progress-content {
  max-width: 50%;
}
